{% extends 'gamewebsite/base.html' %}
{% load static %}

{% block title_block %}
	Game library
{% endblock %}
{% block body_block %}
        <p style="background-color:rgb(160,160,160) "></p>
		
	    <h1>Most Popular</h1>
	    <img src="csgo.jpg" width="500px" height="500px">
		<img src="lol.jpg" width="500px" height="500px">
		<img src="starcraft.jpg" width="500px" height="500px">
		<img src="dota2.jpg" width="500px" height="500px">
		<h1>Newest Game</h1>
		<img src="Rainbow Six.jpg" width="500px" height="500px">
		<img src="csgo.jpg" width="500px" height="500px">
		<img src="pubg.jpg" width="500px" height="500px">
		<img src="starcraft.jpg" width="500px" height="500px">
{% endblock %}