{% extends 'gamewebsite/base.html' %}
{% load static %}

{% block title_block %}
	{% if game %}
		{{ game.name }}
	{% else %}
		Game not found
	{% endif %}
{% endblock %}

{% block body_block %}
	{% if game %}
		<h1> {{ game.name }} </h1>
		
    	<div>
			<img src="{{ game.thumbNail.url }}" >
		</div>
	<!-- display picture of the game -->
	
	<!-- display description of the game -->
		<div>
			<p>{{ game.description }}</p>
		</div>
	<!-- display name of the game -->
	{% else %}
		Game not available.
	{% endif %}
	
	<div>
	{% if user.is_authenticated %}
		<h2>Search for other players</h2>
		<form id= "RequestForm" method="post" action="{% url 'gamewebsite:game_page' game.slug %}">
			{% csrf_token %}
            {% for hidden in form.hidden_fields %}
                {{ hidden }}
            {% endfor %}
			{% for field in form.visible_fields %}
                {% if request.method == 'POST' %}
                    {{ field.errors }}
                    {{ field.help_text }}
                {% endif %}
                {{ field.label }} </br>
				{{ field }} </br>
                </br>
			{% endfor %}
			<input type="submit" value="Submit"/>
		</form>
	{% else %}
		<p><a href="{% url 'gamewebsite:log_in' %}">Log in</a> to search for other players</p>
	{% endif %}
	</div>
{% endblock %}
