{% extends 'gamewebsite/base.html' %}
{% load staticfiles %}

{% block title_block %}
	Game library
{% endblock %}
{% block body_block %}
	    <h1>Most Popular</h1>
	    <img src=".jpg" width="" height="">
		<img src=".jpg" width="" height="">
		<img src=".jpg" width="" height="">
		<img src=".jpg" width="" height="">
		<h1>Best Rated</h1>
		<img src=".jpg" width="" height="">
		<img src=".jpg" width="" height="">
		<img src=".jpg" width="" height="">
		<img src=".jpg" width="" height="">
		<h1>Newest Game</h1>
		<img src=".jpg" width="" height="">
		<img src=".jpg" width="" height="">
		<img src=".jpg" width="" height="">
		<img src=".jpg" width="" height="">
{% endblock %}