{% extends 'gamewebsite/base.html' %}
{% load static %}
{% block style %}
<link rel="stylesheet" href="{% static "css/game_library.css" %}">
{% endblock %}
{% block title_block %}
	Game library
{% endblock %}
{% block body_block %}

		
		<div class=games>
	    <h2>Most Popular</h2>
		
		{% if popular %}
			<ul class=game-list>
				{% for game in popular %}
				<li>
					<a href="{% url 'gamewebsite:game_page' game.slug %}">
						<img src="{{ game.thumbNail.url }}" width="100px" height="100px" alt ={{ game.name }}/>
					</a>
				</li>
				{% endfor %}
			</ul>
		{% else %}
			<strong>No games found.</strong>
		{% endif %}
		</div>
		
		<div class=games>
		<h2>Newest Games</h2>
		
		{% if newest %}
			<ul class=game-list>
			{% for game in newest %}
				<li>
					<a href="{% url 'gamewebsite:game_page' game.slug %}">
						<img src="{{ game.thumbNail.url }}" width="100px" height="100px" alt ={{ game.name }}/> 
					</a>
				</li>
			{% endfor %}
			</ul>

		{% endif %}
		</div>
		
{% endblock %}