<!DOCTYPE html>
{% extends'gamewebsite/base.html' %} 
{% loadstaticfiles %}

<html lang="en">  
<head>  
    <meta charset="UTF-8">  
    <title>Sign up(gamewebsite)</title>  
</head>  
<body>  
    <div id="login">  
        <h1>Sign up</h1>  
        <h4>Email address</h4>
        <input type="text" placeholder="Email address"></input>
        <h4>Username</h4>
        <input type="text" placeholder="Username"></input>
        <h4>Password</h4>
        <input type="password" placeholder="Password"></input>
        <h4>Confirm Password</h4>
        <input type="password" placeholder="Confirm Password"></input>
        <button class="but" type="submit">Sign up</button>       
    </div>  
</body>  
</html>  
